package islands

import "encoding/json"

templ ReactIsland(component string, props any) {
	<div
		data-island-component={ component }
		data-island-props={ mustJSON(props) }
		class="react-island"
	>
		<div class="island-loading">Loading...</div>
	</div>
}

func mustJSON(v any) string {
	b, _ := json.Marshal(v)
	return string(b)
}
